# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# IDE files
.vscode/
.idea/
.project
.settings/

# Backup and temp files
*~
*.swp
*.tmp
tmp/

# Sensitive files / SSH keys
sh-ed25519
*id_rsa*
*id_ed25519*
*.pem
*.key
*.token
*.env
*.conf
